{
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.ts",
      "options": {}
    },
    {
      "files": [
        "*.html"
      ],
      "options": {}
    }
  ],
  "printWidth": 120,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all"
}